
.bg-container {
    background-color: #323f4b;
    background-size: cover;
}

.img {
    height: 300px;
    width: 350px;
}

.facts {
    color: #cced00;
    font-size: 25px;
    font-weight: 600;
}

.about {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.paragraph {
    color: #9aa5b1;
    font-size: 18px;
}

.bottom-container {
    background-color: #1f2933;
    background-size: cover;
    height: 100vh;
}

.box-container {
    background-color: #323f4b;
    border-radius: 10px;
    padding: 10px;
}

.box-img {
    height: 80px;
    width: 80px;
}

.html-heading {
    color: white;
    font-size: 20px;
    font-weight: 600;
}